@keyframes zecavoa {
    
    from{transform: translateX(-900px); color: black;

    }to{
        transform: translateX(0); color: aliceblue;
    }

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.Container p{
    animation-name: zecavoa;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    font-size: 60px;
    color: aliceblue;
}